<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.haitao.mapper.AdminMapper">

	<select id="queryAdminByPhoneNo" parameterType="String" resultType="org.haitao.entity.Admin">
		select * from admin where phoneno = #{phoneno}
	</select>

	<update id="updatePassword" parameterType="Admin">
		update admin set name=#{name},phoneno=#{phoneNo},password=#{password} where phoneno = #{phoneNo}
	</update>
</mapper>

